.variables-matrix {
  border: 0;
  width: 100%;
  margin: 10px 0;
  font-size: 13px;
}

.variables-matrix td,
.variables-matrix th {
  padding:10px;
  border:1px solid #C3C3C3;
}

.variables-matrix td {
  border-top:1px solid #eee;
}
.variables-matrix th:last-child,
.variables-matrix td:last-child {
  width: 100%;
}

.variables-matrix td + td,
.variables-matrix th + th {
  border-left:1px solid #eee;
}

.variables-matrix tr:nth-child(odd) td {
  background:#fff;
}

.variables-matrix tr:nth-child(even) td {
  background:#f5f5f5;
}

.variables-matrix th {
  color: #000;
  font-weight: bold;
  background:#f1f1f1;
}

.type-hint {
  display:inline-block;
  background: gray;
}

.variables-matrix .type-hint {
  text-align:center;
  min-width:60px;
  margin:1px 5px;
}

.type-hint + .type-hint {
  margin-top:5px;
}

.type-hint-expression {
  background:purple;
}

.type-hint-date {
  background:pink;
}

.type-hint-string {
  background:#3a87ad;
}

.type-hint-function {
  background:green;
}

.type-hint-object {
  background:#999;
}

.type-hint-array {
  background:#F90;
}

.type-hint-boolean {
  background:rgb(18, 131, 39);
}

.type-hint-number {
  background:rgb(189, 63, 66);
}

.type-hint-regexp {
  background: rgb(90, 84, 189);
}

.type-hint-domelement {
  background: rgb(95, 158, 160);
}

.variables-matrix.methods,
.variables-matrix.methods th{
  background: #00acc1;
}
.variables-matrix.methods th{
  color: #ffffff;
  font-weight: normal;
}
.variables-matrix.methods td{
  color: #000000;
}
.variables-matrix.methods td:first-child{
  background: rgba(255,255,255,.87);
  font-weight: 500;
}
.variables-matrix.methods td:last-child{
  background: rgba(255,255,255,.95);
}