---
layout: default
active: api
---

<div class="row">
  <div class="col-xs-3" id="api-summary">
    <ul>
      <li><a href="configuration.html">Configuration</a></li>
      <li><a href="api.html">API</a>
        <ul>
          <li><a href="api-address.html">Address resolution</a></li>
          <li><a href="api-chaining.html">Chaining</a></li>
        </ul>
      </li>
      <li>
        <strong>Main</strong>
        <ul>
          <li><a href="api-map.html">map</a></li>
          <li><a href="api-streetviewpanorama.html">streetviewpanorama</a></li>
        </ul>
      </li>
      <li>
        <strong>Events</strong>
        <ul>
          <li><a href="api-on.html">on</a></li>
          <li><a href="api-once.html">once</a></li>
        </ul>
      </li>
      <li>
        <strong>Overlays</strong>
        <ul>
          <li><a href="api-circle.html">circle</a></li>
          <li><a href="api-cluster.html">cluster</a></li>
          <li><a href="api-groundoverlay.html">groundoverlay</a></li>
          <li><a href="api-infowindow.html">infowindow</a></li>
          <li><a href="api-marker.html">marker</a></li>
          <li><a href="api-overlay.html">overlay</a></li>
          <li><a href="api-polygon.html">polygon</a></li>
          <li><a href="api-polyline.html">polyline</a></li>
          <li><a href="api-rectangle.html">rectangle</a></li>
        </ul>
      </li>
      <li>
        <strong>Layers</strong>
        <ul>
          <li><a href="api-bicyclinglayer.html">bicyclinglayer</a></li>
          <li><a href="api-kmllayer.html">kmllayer</a></li>
          <li><a href="api-trafficlayer.html">trafficlayer</a></li>
          <li><a href="api-transitlayer.html">transitlayer</a></li>
        </ul>
      </li>
      <li>
        <strong>Mixed</strong>
        <ul>
          <li><a href="api-directionrenderer.html">directionsrenderer</a></li>
          <li><a href="api-route.html">route</a></li>
          <li><a href="api-styledmaptype.html">styledmaptype</a></li>
        </ul>
      </li>
      <li>
        <strong>Tools</strong>
        <ul>
          <li><a href="api-catch.html">catch</a></li>
          <li><a href="api-fit.html">fit</a></li>
          <li><a href="api-latlng.html">latlng</a></li>
          <li><a href="api-then.html">then</a></li>
          <li><a href="api-wait.html">wait</a></li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="col-xs-9">
    {{content}}
  </div>
</div>